* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.66);
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

#clock,
#backlight,
#network,
#pulseaudio {
    padding-right: 12px;
    padding-left: 3px;
}
#custom-notification,
#battery {
    padding-right: 18px;
    padding-left: 3px;
}
#custom-conmode,
#tray {
    padding-right: 6px;
}

#workspaces * {
    padding: 0;
    margin-right: 2px;
    font-style: normal;
}

.modules-left   > :not(:last-child),
.modules-center > :not(:last-child),
.modules-right  > :not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, .5);
}

#workspaces button.active {
    color: #ff0000;
}

.conmode-off {
    color: #ff0000;
}
